
.blog--articles {
    // display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    display: inline-grid;
    // overflow: hidden;
}

.blog--article {
    margin-bottom: 60px;
}

.blog-article {
    &>a {
        &:hover {
            &>.blog-article--preview-image {
                >img {
                    transition: 0.2s;
                    filter: saturate(1);
                }
            }
            &>.blog-article--title {
                transition: 0.2s;
                text-decoration: underline;
            }
        }
    }

}

.blog-article--link:focus > .blog-article--preview-image img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
.blog-article--link:hover > .blog-article--preview-image img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.blog-article--preview-image {
    img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.2s ease-in-out !important;
    }
    height: 185px;

}

.blog-article--title {
    display: inline-block;
    font-family: "Arsenal-Bold";
    font-size: 18px;
    margin-top: 32px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.blog-article--date {
    color: #c4c4c4;
}

@media (hover: none) {
    .blog-article--preview-image {
        img {
            filter: saturate(1);
        }
    }
}

@media (min-width: 600px) {
    .blog--articles {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5%;
    }
    .blog--article {
        margin-bottom: 32px;
    }
    
}

@media (min-width: 900px) {
    .blog--articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3%;
    }
    .blog--article {
        margin-bottom: 60px;
    }
}