@import '../../styles/variables';

.events {
    &--title {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 32px;
    }
}

.event {
    &--link {
        &:hover {
            color: $brown;
            transition: .2s;
        }

    }
    &--wrapper {
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
    }

    &--img {
        height: calc(15vw + 50px);
        max-height: 200px;
    }
    &--img-bg {
        position: absolute;
        height: calc(15vw + 50px);
        max-height: 200px;
        width: calc(100% - 40px);
        background: rgba(195, 181, 170, 0.3);
        top: 25px;
        left: 35px;
    }


    &--title {
        margin-top: 48px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &--year {
        display: block;
        margin-top: 12px;
    }
}

.events .slick-track {
    margin-left: -10px;
}
.events .slick-arrow {
    top: 40%;
}
.events .slick-next {
    &::before {
        color: $light-brown;
    }
}
.events .slick-prev {
    &::before {
        color: $light-brown;
    }
}
@media (max-width: 1000px) {
    .events .slick-next {
        right: -15px;
        
    }
    .events .slick-prev {
         left: -15px;
        
    }
}


@media (max-width: 480px) {
    .event--img {
        height: calc(40vw + 120px);
    }
    .event--img-bg {
        height: calc(40vw + 120px);
    }
}

