@import '../../styles/variables';

.events {
    &--title {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 32px;
    }
    &--arrow {
        &_prew {
            background: green;
        }
        &_next {
            background: red;
        }
    }
}

.event {
    &--link {
        &:hover {
            color: $brown;
            transition: .2s;
        }

    }
    &--wrapper {
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
    }

    &--img {
        // height: 200px;
        // height: calc(20vw + 100px);
        height: calc(15vw + 50px);
        max-height: 200px;
    }
    &--img-bg {
        position: absolute;
        // height: 200px;
        // height: calc(20vw + 100px);
        height: calc(15vw + 50px);
        max-height: 200px;
        width: calc(100% - 40px);
        background: rgba(195, 181, 170, 0.3);
        top: 25px;
        left: 35px;
    }


    &--title {
        margin-top: 48px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &--year {
        display: block;
        margin-top: 12px;
    }
}

// .slick-track {
//     margin-left: -10px;
// }
// .slick-arrow {
//     top: 40%;
// }
// .slick-next {
//     &::before {
//         color: $light-brown;
//     }
// }
// .slick-prev {
//     &::before {
//         color: $light-brown;
//     }
// }
@media (max-width: 1000px) {
    .slick-next {
        right: -15px;
        
    }
    .slick-prev {
         left: -15px;
        
    }
}

// @media (max-width: 1024px) {
//     .event--img {
//         height: 250px;
//     }
//     .event--img-bg {
//         height: 250px;
//     }
// }
// @media (max-width: 768px) {
//     .event--img {
//         height: 250px;
//     }
//     .event--img-bg {
//         height: 250px;
//     }
// }
@media (max-width: 480px) {
    .event--img {
        height: calc(40vw + 120px);
    }
    .event--img-bg {
        height: calc(40vw + 120px);
    }
}

// @media (max-width: 850px) {
//     .event--img {
//         height: 200px;
//     }
//     .event--img-bg {
//         height: 200px;
//     }
// }
// @media (max-width: 670px) {
//     .event--img {
//         height: 150px;
//     }
//     .event--img-bg {
//         height: 150px;
//     }
// }
// @media (max-width: 480px) {
//     .event--img {
//         height: 60vw;
//         max-height: 300px;
//     }
//     .event--img-bg {
//         height: 60vw;
//         max-height: 300px;
//     }
// }