@import '../../styles/variables';

.services-block--page-text {
  margin-top: 120px;
  margin-bottom: 40px;
}

.services-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  &_extra {
    max-width: 860px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
