@import '../../styles/variables';

.language-selector--dash {
    margin-left: 8px;
    margin-right: 8px;
}

.language-selector {
    font-size: 18px;
}

.language-selector--link {
    border-bottom: 2px solid transparent;
    &_active {
        border-bottom: 2px solid $black;
    }
}