@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {font-family: "Plain Medium"; src: url("//db.onlinewebfonts.com/t/36e469f4478980088468fc30605f4b4c.eot"); src: url("//db.onlinewebfonts.com/t/36e469f4478980088468fc30605f4b4c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/36e469f4478980088468fc30605f4b4c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/36e469f4478980088468fc30605f4b4c.woff") format("woff"), url("//db.onlinewebfonts.com/t/36e469f4478980088468fc30605f4b4c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/36e469f4478980088468fc30605f4b4c.svg#Plain Medium") format("svg"); }

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@font-face {
	font-family: 'Aesthetic-White';
	src: url('../../static/fonts/Aesthetic-White.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal-Regular';
	src: url('../../static/fonts/Arsenal-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal-Bold';
	src: url('../../static/fonts/Arsenal-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}