@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');


@font-face {
	font-family: 'Aesthetic-White';
	src: url('../../static/fonts/Aesthetic-White.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal-Regular';
	src: url('../../static/fonts/Arsenal-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal-Bold';
	src: url('../../static/fonts/Arsenal-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}