@import './fonts';
@import './variables';


$cormorant-regular: "Cormorant-Regular", Arial, Helvetica, sans-serif;
$aesthetic-white: "Aesthetic-White", Arial, Helvetica, sans-serif;
$antic-didone: "Antic Didone", serif;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Arsenal-Regular", "Roboto", sans-serif;
    color: $black;
    font-size: 16px;

    background-color: $white;

    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
    &:focus {
        outline-color: $light-gray;
    }
}

img {
    width: 100%;
}


p {
    font-size: 15px;
}
@media (min-width: 1400px) {
    p {
        font-size: 17px;
    }
}

// button {
//     &:focus {
//         outline-color: $light-gray;
//     }
// }


.full-width {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 32px;
    margin-bottom: 48px;
}
.full-article {
    p {
        line-height: 140%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sign {
    font-family: $aesthetic-white;
}

.intro-text {
    font-size: 20px;
    margin-bottom: 48px;
}

.page-text {
    &_center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &_tight {
        max-width: 900px;
    }
    &_close-paragraph {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.site-logo--archgako {
    font-family: $antic-didone;
    display: block;
}

.site-logo--sign {
    font-family: $aesthetic-white;
    
    display: block;
}

.page--heading {
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 8px;
    border-bottom: 2px solid $gray-brown;
    margin-bottom: 36px;
}

.section--heading {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    &_left {
        text-align: left;
    }

    // transition: all .4s ease-in-out;
    // transform: translate3d(0, 30px, 0);
    // opacity: 0;
}

// .section--heading.active {
//     transform: translate3d(0px, 0, 0);
//     opacity: 1;
// }
@media (min-width: 1000px) {
    .section--heading {
        font-size: 24px;
    }
}

.section--index {
    margin-top: 82px;
}

@media (min-width: 400px) {
    .section--heading_projects {
        margin-bottom: 100px;
    }
}

