@import './fonts';
@import './variables';


$cormorant-regular: "Cormorant-Regular", Arial, Helvetica, sans-serif;
$aesthetic-white: "Aesthetic-White", Arial, Helvetica, sans-serif;
$antic-didone: "Antic Didone", serif;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    // font-family: 'Raleway', sans-serif;
    // font-family: "Arsenal Regular", "Roboto", sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;
    color: $black;
    font-size: 16px;

    background-color: $white;

    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
    &:focus {
        outline-color: $light-gray;
    }
}

img {
    width: 100%;
}


p {
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Plain Medium', serif;
    // font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-weight: 300;
    font-size: 17px;
}
@media (min-width: 1400px) {
    p {
        // font-size: 18px;
    }
}

.arsenal {
    font-family: "Arsenal-Regular", "Roboto", sans-serif;
}
// button {
//     &:focus {
//         outline-color: $light-gray;
//     }
// }

.brown-text {
    color: $light-brown;
}

.full-width {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 32px;
    margin-bottom: 48px;
}
.full-article {
    p {
        line-height: 140%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sign {
    font-family: $aesthetic-white;
}

.intro-text {
    font-size: 20px;
    margin-bottom: 48px;
}

.page-text {
    &_center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &_tight {
        max-width: 900px;
    }
    &_close-paragraph {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.site-logo--archgako {
    font-family: $antic-didone;
    display: block;
}

.site-logo--sign {
    font-family: $aesthetic-white;
    
    display: block;
}

.page--heading {
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 8px;
    border-bottom: 2px solid $gray-brown;
    margin-bottom: 36px;
}

.section--heading {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    &_left {
        text-align: left;
    }

    // transition: all .4s ease-in-out;
    // transform: translate3d(0, 30px, 0);
    // opacity: 0;
}

// .section--heading.active {
//     transform: translate3d(0px, 0, 0);
//     opacity: 1;
// }
@media (min-width: 1000px) {
    .section--heading {
        font-size: 24px;
    }
}

.section--index {
    margin-top: 82px;
}

@media (min-width: 400px) {
    .section--heading_projects {
        margin-bottom: 100px;
    }
}




// ВРЕМЕННО ТУТ

.button {
    font-size: 18px;
    padding: 12px 40px;
    background-color: #AF9888;
    color: #FFFFFF;
    transition: 0.2s;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: #C3B5AA;
    transition: 0.2s;
}

.button_disable {
    color:  #C4C4C4;
}

.button_open-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_big-margin {
    margin-top: 32px;
    margin-bottom: 120px;
}

.button_center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.dot {
    height: 25px;
    width: 25px;
    background-color: $light-brown;
    border-radius: 50%;
    text-align: center;
    margin: 60px auto 0 auto;
}

.bg {
    width: 100%;
    background-color: rgba(195, 181, 170, 0.3);
    margin-top: 76px;
    padding-bottom: 70px;
}