@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap');

@font-face {
	font-family: 'Aesthetic-White';
	src: url('../../../static/fonts/Aesthetic-White.woff');
	font-weight: normal;
	font-style: normal;
}

.site-logo--archgako {
    font-family: "Antic Didone", serif;
    display: block;
}

.site-logo--sign {
    font-family: 'Aesthetic-White';
    display: block;
}